@using GECO.Web.Helpers
@model  GECO.Web.Models.NewsViewModel
@{
    ViewBag.Title = "Add";
}

<h2>@ViewBag.Title</h2>

@*@Html.EditorForModel()*@

@Html.BootstrapLabelFor(m => m.Name)
@Html.EditorFor(m => m.Name)
@Html.BootstrapLabelFor(m => m.ShortDescription)
@Html.EditorFor(m => m.ShortDescription)
@Html.BootstrapLabelFor(m => m.Text)
@Html.EditorFor(m => m.Text)

-------------------------------------------
@*@Html.Action("PhotosWidget", "News")*@


@Html.LabelFor(m => m.Name)
@Html.LabelFor(m => m.ShortDescription)
@Html.TextBoxFor(m => m.ShortDescription, new { @class = "form-control" })
@Html.LabelFor(m => m.ShortDescription)
@Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
@Html.LabelFor(m => m.Album.Name)
@Html.TextAreaFor(m => m.Album.Name, new { @class = "form-control" })

@if (Model.Album.Photos != null)
{
    foreach (var item in Model.Album.Photos)
    {
        @item.Name
    }
}